
body {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  font-family: Avenir-book, 'Open Sans', sans-serif;
  background-color:#ffb57f;
}

a:link {
  text-decoration: none;
  color: #232325;
}

a:visited {
  color: #232325;
}

a:hover {
  color: #232325;
}

a:active {
  color: #232325;
}


/* ++++++++++++++++ WORK BUTTONS PANEL +++++++++++++++ */

.cases-panels {
    padding-bottom: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1343px;
}

.workbuttons.hvr-float {
  display:inline-block;
  background:white;
  border-radius: 15px;
  box-shadow: 0px 7px 23.5px #cc8b5a;
  width: 30%;
  max-width:400px;
  height: 400px;
  margin: 80px 0 0 2.5%;
  vertical-align:bottom;
}

.workbuttons.hvr-float:hover {
  box-shadow:unset;
  color:#ffb57f;
}

.casetextbox {
  padding:30px 15px 15px 15px;
  line-height:38px;
}

.casetextbox.tppt {
    padding:10px 15px 15px 15px;
  }

.casetextbox img {
    width: 91%;
    margin: 0 auto;
    display: block;
}

.casetextbox img.imgdown {
  padding-top:19px;
}

.casetextbox img.chill.imgdown {
  width:70%;
}

.workbuttons .casetextbox {
    color: #f5a66c;
    text-align: center;
}




/* ++++++++++++++++ CONSTRUCTION PANEL +++++++++++++++ */

.construction {
  margin-top:250px;
  text-align:center;
  color:white;
  padding: 0px 15px;
}

.construction p a:link, .construction p a:visited, .construction p a:active {
  color:white;
  text-decoration: underline;
}

.construction p a:hover {
  color:#bb6969;
}


/* ++++++++++++++++ NAME PANEL +++++++++++++++ */

.name {
  width:100%;
  background-color:#ffb57f;
  height:45em;
  color:white;
}

.name .width-wrapper h1 {
  font-size:4.7em;
  font-weight:bold;
  line-height: 1.2em;
}

.name .width-wrapper h2 {
  font-size:2.2em;
  position:relative;
  bottom:45px;
  font-weight:100;
}

.name .width-wrapper h3 {
  font-size:2em;
  text-transform:uppercase;
}

.width-wrapper {
  width:90%;
  max-width:715px;
  margin:0 auto;
  display: block;
  padding-top:85px;
}

ul.resumelinkedin li {
  display: inline-block;
  text-decoration: none;
  margin-right:20px;
  color: white;
  border: 1.5px solid white;
      padding: 10px 20px;
    border-radius: 25px;
}

ul.resumelinkedin {
  padding-left: 0px;
  position:relative;
  bottom:52px;
  margin-top: 0px;
}

ul.resumelinkedin a li:hover {
  background: white;
  color: #ffb57f;
}

.scrollme {
  text-align:center;
}

.scrollme i {
  display: block;
  font-size: 48px;
  position: relative;
  bottom:20px;
  color:#ffd2b0;
}






/* ++++++++++++++++ NAVIGATION +++++++++++++++ */

#nav {
  background-color:#ffb57f;
  position:fixed;
  width:100%;
  z-index:10;
}

#nav ul li {
  display: inline-block;
  text-decoration: none;
  float:right;
  color:white;
  margin: 0 37px 15px 20px;
}

#nav ul a li.home {
    float: left;
    margin-left: 0px;
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
    position: absolute;
}

#nav ul a li.work, #nav ul a li.about:hover {
border-bottom: 1.5px solid white;
  }









/* ++++++++++++++++ CASE STUDIES +++++++++++++++ */

.casestudies {
	width:700px;
	margin:0 auto;
	padding-top:20px;
}

.casestudies h1 {
    font-size: 53px;
}

.casestudies h2 {
    font-size: 25px;
    padding-top: 39px;
}

.casestudies h3 {
    font-size: 34px;
}

.casestudies h3.subtitle {
    position:relative;
    bottom:15px;
}

.casestudies h4 {
    font-size: 14px;
    text-transform:uppercase;
}

.casestudies p, .casestudies li {
    font-size:19px;
}

.casestudies h5 {
    font-style:italic;
    font-weight:100;
    position:relative;
    bottom:13px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++ MEDIA QUERIES ++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++ */



@media (max-width: 1025px) {

}


/* ++++++++++ IPHONE 6 + LESS ++++++++ */

@media (max-width: 420px) {

    .width-wrapper {
        width:338px;
    }

    .name .width-wrapper h1 {
        font-size: 2.7em;
        margin-top:72px;
    }

    .name .width-wrapper h2 {
        font-size: 1.379em;
        padding-top:29px;
    }

    ul.resumelinkedin {
        margin-top:2em;
    }

    #nav ul a li.home {
        display: block;
        position:relative;
        right:25px;
        margin: 0 auto;
    }

    #nav ul li {
        margin: 0px 16px 20px 10px;
    }


    .scrollme i {
      bottom:-60px;
    }

    .workbuttons.hvr-float {
      display: block;
    box-shadow: 0px 7px 23.5px #cc8b5a;
    width: 84%;
    max-width: 400px;
    height: 386px;
    margin: 42px 8%;
}



}


